<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px">home</mat-icon>
      <span>Angular study</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button routerLink="">One</button>
      <button class="toolbar button" mat-flat-button routerLink="">Two</button>
      <button class="toolbar button" mat-flat-button routerLink="">Three</button>
      <button class="toolbar button" mat-flat-button routerLink="">Four</button>
      <button class="toolbar button" mat-flat-button routerLink="">Five</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
