<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px">home</mat-icon>
      <span>На главную...</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button [routerLink]="['data-binding']">Привязка данных</button>
      <button class="toolbar button" mat-flat-button routerLink="directives">Директивы</button>
      <button class="toolbar button" mat-flat-button routerLink="services">Сервисы</button>
      <button class="toolbar button" mat-flat-button routerLink="forms">Формы</button>
      <button class="toolbar button" mat-flat-button routerLink="">Five</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
