<ol><h1 [class.title_red]="titleIsRed">В Angular есть четыре формы привязки данных:</h1>
  <li>
    Привязка элемента DOM к значению компонента (односторонняя). В двойных фигурных скобках указывается выражение, к которому идет привязка (интерполяция)
    <p [style.color]="titleIsRed ? 'green' : 'red'">Добро пожаловать <b>{{name}}</b></p>
  </li>
  <li>
    Привязка свойства элемента DOM к значению компонента (односторонняя)
    <br/>
    <input type="text" [value]="name" />
    <p [textContent]="name"></p>
  </li>
  <li>
    Привязка метода компонента к событию в DOM (генерация события в DOM вызывает метод на компоненте)(односторонняя)
    <br/>
    <button (click)="changeName()">Изменить имя</button>
  </li>
  <li>
    Двусторонняя привязка, когда элемент DOM привязан к значению на компоненте, при этом изменения на одном конце привязки сразу приводят к изменениям на другом конце
    <br/>
    <p>{{name2}}</p>
    <input type="text" [(ngModel)]="name2" placeholder="name2">
  </li>
</ol>

