<p>Директивы определяют набор инструкций, которые применяются при рендеринге html-кода. Директива представляет класс с
  директивными метаданными. В TypeScript для прикрепления метаданных к классу применяется декоратор <b>@Directive</b>.</p>
<ul>
  В Angular есть три типа директив:
  <li><b routerLink="directives/components">Компоненты:</b> компонент по сути также является директивой, а декоратор @Component расширяет возможности декоратора @Directive с помощью добавления функционала по работе с шаблонами.</li>
  <li><b routerLink="directives/attribute">Атрибутивные:</b> они изменяют поведение уже существующего элемента, к которому они применяются. Например, ngModel, ngStyle, ngClass</li>
  <li><b routerLink="directives/structural">Структурные:</b> они изменяют структуру DOM с помощью добавления, изменения или удаления элементов html. Например, это директивы ngFor и ngIf</li>
</ul>
<hr/>

<router-outlet></router-outlet>
